{% extends 'base.html' %}
{% load static %}
{% block content %}

</div>
<body class="sub_page">


  <!-- book section -->
  <section class="book_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          Register an Account
        </h2>
      </div>
    
          <div class="form_container">
            <form action="" method="post">
              {% csrf_token %}
              <div>
                <label class="form-label">Username</label>
                {{form.username}}
              </div>
              <div>
                <label class="form-label">Email address</label>
                {{form.email}}
              </div>
              <div>
                <label class="form-label">Phone Number</label>
                {{form.phone_number}}
              </div>
              <div>
              <div>
                <label class="form-label">Password</label>
                {{form.password1}}
                
              </div>
              <div>
                 <label class="form-label">ReEnter Password</label>
                {{form.password2}}
                </div>
              <div class="btn_box">
                <button type="submit">
                  Sign Up
                </button>
              </div>
            </form>
          </div>
    </div>
  </section>
  <!-- end book section -->

  
{% endblock %}

{% block js %}
    <script>
      let home = document.querySelector('.home')

      home.classList.add('active')
    </script>

  {% endblock %}