{% extends 'base.html' %}
{% load static %}
{% block content %}

</div>
<body class="sub_page">


  <!-- book section -->
  <section class="book_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          Register an Account
        </h2>
      </div>
    
          <div class="form_container">
            <form action="{% url 'book' %} " method="post">
              {% csrf_token %}
              <div>
                <input type="text" class="form-control" name="name" placeholder="Your Name" />
              </div>
              <div>
                <input type="text" class="form-control" name="phone" placeholder="Phone Number" />
              </div>
              <div>
                <input type="email" class="form-control" name="email" placeholder="Your Email" />
              </div>
              <div>
                <input type="text" class="form-control" name="persons" placeholder="How many Person's" />
              </div>
              <div>
                <input type="date" name="date" class="form-control">
              </div>
              <div class="btn_box">
                <button type="submit">
                  Book Now
                </button>
              </div>
            </form>
          </div>
    </div>
  </section>
  <!-- end book section -->

  
{% endblock %}
